.grandpa div{
    border: 2px solid peru;
    padding: 5px 15px;
    border-radius: 12px;
   

    /* background-color: antiquewhite; */
}
.grandpa{
    border: 2px solid rgb(14, 225, 53);
    padding: 15px;
    border-radius: 12px;
    justify-content: center;
}
.flex{
    display: flex;
    gap: 10px;
}